<!DOCTYPE html>
<html lang="fr">

<head>
    La Polynésie
</head>

<body>
    <h1><%= pays.title %></h1>
    <p><%= pays.description %></p>
    <p>Status: <%= pays.status %></p>
    
</body>

</html>
